In [1]:
2+2

4

In [2]:
4-2

2

In [3]:
4*1

4

In [4]:
5/2

2.5

In [5]:
5%2

1

In [6]:
a=2

In [8]:
a

2

In [9]:
a=10

In [24]:
a

160

In [25]:
a=a+a

In [27]:
a

320

In [28]:
type(a)

int

In [29]:
a=30.1

In [30]:
type(a)

float

In [34]:
my_income=10000
my_tax=0.10
my_tax= my_income*my_tax

In [35]:
my_tax

1000.0

In [40]:
my_string= "hello world"

In [42]:
my_string

'hello world'

In [46]:
my_string[9]

'l'

In [3]:
slicing="apurva"

In [4]:
slicing

'apurva'

In [49]:
slicing[1:]

'purva'

In [52]:
slicing[:3]

'apu'

In [55]:
slicing[1:5]

'purv'

In [5]:
slicing[1:4:1]

'pur'

In [70]:
immuitability="imanshu"

In [71]:
immuitability= 'h
'

SyntaxError: EOL while scanning string literal (<ipython-input-71-a56322e323f8>, line 1)

In [73]:
'h' + immuitability

'himanshu'

In [84]:
a="hello world"

In [85]:
+ "welcome to india"

TypeError: bad operand type for unary +: 'str'

In [93]:
a=a + " welcome to india"

In [95]:
a

'hello world welcome to india welcome to india welcome to india welcome to india welcome to india'

In [97]:
a *10

'hello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to indiahello world welcome to india welcome to india welcome to india welcome to india welcome to india'

In [8]:
a= "Hye this is a string"

In [9]:
a

'Hye this is a string'

In [106]:
a.upper()

'HYE THIS IS A STRING'

In [10]:
a.lower()

'hye this is a string'

In [11]:
a.split()

['Hye', 'this', 'is', 'a', 'string']

In [12]:
a.split('i')

['Hye th', 's ', 's a str', 'ng']

In [13]:
my_dict = {'key1':'value1','key2':'value2'}

In [14]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [15]:
my_dict['key1']

'value1'

In [16]:
price_lookup={'apple':100,'orange':60,'milk':40}

In [17]:
price_lookup['apple']

100

In [18]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [19]:
d['k2']

[0, 1, 2]

In [21]:
d['k3']['insidekey']

100

In [22]:
d = {'key1':['a','b','c']}

In [23]:
mylist = d['key1']

In [24]:
mylist

['a', 'b', 'c']

In [25]:
letter = mylist[2]

In [26]:
letter

'c'

In [27]:
letter.upper()

'C'

In [28]:
d

{'key1': ['a', 'b', 'c']}

In [31]:
d['key1'][2].upper()

'C'

In [33]:
d = {'key1':100,'key2':200}

In [34]:
d

{'key1': 100, 'key2': 200}

In [36]:
d['key3'] = 300

In [39]:
d

{'key1': 100, 'key2': 200, 'key3': 300}

In [40]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [42]:
d.values()

dict_values([100, 200, 300])

In [43]:
d.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300)])

In [44]:
t = 'tuples'

In [45]:
t

'tuples'

In [46]:
t = [1,2,3]

In [47]:
type(t)

list

In [48]:
t = {1,2,3}

In [49]:
type(t)

set

In [50]:
t = (1,2,3)

In [51]:
type(t)

tuple

In [53]:
len(t)

3

In [54]:
t[-1]

3

In [55]:
t = ('a','a','b')

In [56]:
t.count('a')

2

In [57]:
t.index('a')

0

In [59]:
mylist = [1,2,3]

In [60]:
type(mylist)

list

In [61]:
mylist[0] = 4

In [62]:
mylist

[4, 2, 3]

In [63]:
t = (1,2,3)

In [65]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [66]:
myset  = set()

In [67]:
myset

set()

In [68]:
type(myset)

set

In [69]:
myset.add(1)

In [70]:
myset

{1}

In [71]:
myset.add(2)

In [72]:
myset

{1, 2}

In [73]:
myset.add(2)

In [74]:
myset

{1, 2}

In [77]:
b = 'booleans'

In [78]:
b

'booleans'

In [79]:
True

True

In [80]:
1 > 2

False

In [81]:
2==3

False

In [83]:
%%writefile myfile.txt
hello this is a text file
this is the second file
this is the third file

Overwriting myfile.txt

In [84]:
myfile = ('myfile.txt')

In [85]:
pwd

'C:\\Users\\DELL\\Desktop'

In [86]:
myfile = open('myfile.txt')

In [87]:
myfile.read()

'hello this is a text file\nthis is the second file\nthis is the third file\n'

In [89]:
myfile.seek(0)

0

In [90]:
myfile.read()

'hello this is a text file\nthis is the second file\nthis is the third file\n'

In [91]:
myfile.seek(0)

0

In [92]:
myfile.readlines()

['hello this is a text file\n',
 'this is the second file\n',
 'this is the third file\n']

In [93]:
pwd

'C:\\Users\\DELL\\Desktop'

In [100]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

hello this is a text file
this is the second file
this is the third file

In [101]:
with open('myfile.text',mode='a') as f:
    f.write('\nthis is the fourth file')

In [102]:
with open('myfile.text' ,mode='r') as f:
    print(f.read())

this is the fourth file
this is the fourth file

In [103]:
with open('dkdkdjjsks.txt' ,mode='w') as f:
    f.write('i created a new file!')

In [104]:
with open('dkdkdjjsks.txt' ,mode='r') as f:
    print(f.read())

i created a new file!

In [109]:
not 1 > 1

True

In [112]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Im not hungry

In [4]:
loc ='dog'
if loc == 'Auto':
    print('i love cars')
elif loc =='dog':
    print('i love dogs')
else:
    print('i dont know')

i love dogs

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
for _ in mylist:
    print ('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [11]:
for num in mylist:
    if num % 2==0:
        print(num)
    else:
        print(f'odd number is: {num}')

odd number is: 1
2
odd number is: 3
4
odd number is: 5
6
odd number is: 7
8
odd number is: 9
10

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
mystring = 'HELLO WORLD'
for letter in mystring:
    print(letter)

H
E
L
L
O

W
O
R
L
D

In [16]:
letter

'D'

In [17]:
    letter

'D'

In [22]:


for _ in 'hello g':
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [23]:
mylist = [(1,2),(3,4),(5,6)]

In [24]:
len(mylist)

3

In [27]:
for(a,b) in mylist:
    print(b)

2
4
6

In [28]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [29]:
for (a,b,c) in mylist:
    print(b)

2
5
8

In [32]:
d = {'k1':1, 'k2':2, 'k3':3}

for key value in d.key:values ():
    print(key value)

SyntaxError: invalid syntax (<ipython-input-32-36d8f97a18d6>, line 3)

In [38]:
x = 0

while x < 5:
    print(f'the number for x is {x}')

    x = x+1

the number for x is 0
the number for x is 1
the number for x is 2
the number for x is 3
the number for x is 4

In [39]:
x = 0
while x <= 5:
    print(f'the value of x is {x}')
    x +=1
else:
    print('X is greter than 5')

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
the value of x is 5
X is greter than 5

In [41]:
x = [1,2,3]

for item in x:
    pass

print('end of my script')

end of my script

In [42]:
mystring = 'sam'

In [47]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [50]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1
    x += 2

0
3

In [57]:
def say_hi(name='no'):
    print(f'hye {name}')

In [61]:
say_hi('bony')

hye bony

In [3]:
def add_num(num1,num2):
    return num1+num2

In [4]:
result = add_num(10,20)

result